:root {
  --spacing: 25px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.pageTitle {
  width: 100%;
  padding-top: 40px;
  font-size: 28px;
  line-height: 40px;
}

.column {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  @media screen and (min-width: 950px) {
    width: 46%;
  }
}

.inactiveColumn {
  composes: column;
  display: none;

  @media screen and (min-width: 950px) {
    display: flex;
  }
}

.columnTitle {
  width: 100%;
  font-size: 18px;
  line-height: 36px;
  padding-top: 60px;
  margin-bottom: var(--spacing);
}

.columnMasthead {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 55px;
}

.columnSubtitle {
  composes: columnMasthead;
  opacity: 0.6;
  font-style: italic;
}

.link {
  color: var(--link-blue);
  padding: 0 4px;
}

.radio {
  flex: 1 1 50%;
  margin-bottom: var(--spacing);
}

.textarea {
  composes: textarea from 'css/NewJobForm';
  height: 300px;
}

.preview {
  background: color(var(--sky-blue) a(60%));
  border: 1px solid var(--sky-blue-shadow);
  border-radius: 3px;
  padding: 50px;
  width: 100%;
  margin-bottom: var(--spacing);
}

.button {
  background: var(--sky-blue-dark);
  padding: 20px 30px;
  color: var(--link-blue);
  text-decoration: underline;
}

.button:hover {
  cursor: pointer;
}
