.container {

}

.button {
  opacity: 0.7;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  border: 1px solid color(var(--steel-blue) a(30%));
  padding: 10px 20px;
  margin: 0 10px 10px 0;
  border-radius: 2px;
  line-height: 28px;
}

.button:hover {
  cursor: pointer;
}

.activeButton {
  composes: button;
  background: var(--link-blue);
  color: white;
  opacity: 1;
}

.activeButton:hover {
  opacity: 0.7;
}

.inactiveButton {
  composes: button;
}

.inactiveButton:hover {
  cursor: pointer;
  background: var(--sky-blue-dark);
  opacity: 1;
}
